<h1>Where Have You Been??</h1>

<p>Here is a list of locations you have been to:</p>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.location() %></li>
  <% end %>
</ul>

<p>Enter a new location:</p>

<form action="/places" method="post">
    <label for="location">Location</label>
    <input id="location" name="location" type="text">

    <button type="submit"> Add location</button>
</form>
